adjustText==0.7.3
asgiref==3.4.1
Babel==2.9.1
banner==0.0.2
certifi==2021.10.8
charset-normalizer==2.0.9
ClickUz==0.3
colorama==0.4.4
cycler==0.11.0
decorator==5.1.0
Django==3.2.8
django-environ==0.8.1
django-modeltranslation==0.17.3
django-multiselectfield==0.1.12
django-phone-login-fix-version==0.0.9
django-rest-registration==0.6.4
django-sendsms==0.2.3
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
fonttools==4.28.3
generics==3.4.0
httplib2==0.20.2
idna==3.3
instagram==1.3.4
joblib==1.1.0
kiwisolver==1.3.2
many==0.6.8
matplotlib==3.5.1
numpy==1.21.4
packaging==21.3
pandas==1.3.5
patsy==0.5.2
PaycomUz==3.0
phonenumberslite==8.12.39
Pillow==8.4.0
pip==21.3.1
PyJWT==2.3.0
pyparsing==3.0.6
python-dateutil==2.8.2
python-decouple==3.5
pytz==2021.3
requests==2.26.0
scikit-learn==1.0.1
scipy==1.7.3
seaborn==0.11.2
self==2020.12.3
setuptools==58.2.0
simplejson==3.17.6
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
statsmodels==0.12.2
threadpoolctl==3.0.0
tqdm==4.62.3
urllib3==1.26.7
username==2.1.0
